body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2.notbold{
    font-weight:normal
}​

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.container {
    max-width:50rem;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

code{
    background-color: #888;
    color: #FFF;
    font-family: monospace;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    white-space: nowrap;
}

pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
}

.notbold{
    font-weight:normal
}​