<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
			<div id="container">
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="https://standardebooks.org/">Standard ebooks</a></li>
					</ul>
				</nav>
				<div class="container">
			
				{{ content }}
			
				</div><!-- /.container -->
				<footer>
				<ul>
					<li><a href="https://github.com/b-t-k/b-t-k.github.io">github.com/b-t-k/b-t-k.github.io</a></li>
				</ul>
				</footer>
			</div>
		</body>
	</html>