<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
			<div id="container">
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="https://standardebooks.org/">Standard ebooks Home</a></li><li><a href="https://github.com/b-t-k/b-t-k.github.io">git repo for this site</a></li>
					</ul>
				</nav>
			
				{{ content }}
				<hr/>
				*Modified {{ site.time | date: '%B %d, %Y' }}*
			
				<footer>
				<h5>My other sites</h5>
				<ul>
					<li><a href="https://github.com/b-t-k/">github.com/b-t-k</a></li>
					<li><a href="https://astart.ca">astart.ca</a></li>
				</ul>
				</footer>
			</div>
		</body>
	</html>